body {
    background-color: #212121;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.info-container {
    border: 1px solid #ddd;
    width: 400px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    border: none;
    background-color: #007bff;
    color: #f1f1f1;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}

.options {
    list-style: none;
    padding: 0;
}

.options li {
    margin-bottom: 10px;
}

#score {
    text-align: center;
    align-content: center;
}

#playNow {
    display: flex;
    justify-content: center;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro p {
    text-transform: uppercase;
}